<%- include('partials/_header') -%> 
<body>

  <%- include('partials/_navigation') -%> 

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <% for (let i = 0; i < posts.length; i++) { %>

        <div class="post-preview">
          <a href="/posts/<%= posts[i]._id %> ">
            <h2 class="post-title">
              <%= posts[i].name %>
            </h2>
            <p><%= posts[i].message.substring(0, 100) %>...</p>
          </a>
          
          <p class="post-meta">Posted on <%= posts[i].dateCreated.toString().substring(0, 15) %></p>
        </div>
        <hr>
        
        <% } %>
      </div>
    </div>
  </div>

  <hr>

  <%- include('partials/_footer') -%> 

</body>

</html>
