<%- include('partials/_header') -%> 
<body>

  <%- include('partials/_navigation') -%> 

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h2 class="subheading">'<%= post.name %>' </h2>
            <p>başlıklı makaleyi okuyorsunuz...</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <a href="#">
            <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
          </a>
          <h2> <%= post.name %> </h2>
          <p><%= post.message %></p>
          <p> <%= post.dateCreated.toString().substring(0, 15) %></p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%> 

</body>

</html>
